body {
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    width: 95%;
    height: 95%;
    overflow: hidden;
}

.bar {
    height: var(--barHeight);
    width: 1%;
    box-sizing: border-box;
    background-color: lightcoral;
    animation : swoosh calc(1s * var(--delta)) ease forwards calc(0.1s * var(--index));
    transform-origin: left;
    float: left;
    clear: left;
}

.bar.left {
    float: right;
    clear: right;
    transform-origin: right;
}

@keyframes swoosh {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(105);
    }
}